# Scraping the "top 24 Movies" page of IMDB

In [207]:
import requests as rq
from  bs4 import BeautifulSoup
import re
import pandas as pd

In [144]:
url = r"https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [145]:

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36'} 
response = rq.get(url, headers=headers)

In [146]:
soup=BeautifulSoup(response.content,"html.parser")

In [153]:
movies = soup.find("ul",class_="ipc-metadata-list").find_all('li')

In [190]:
#name and sno scraped
sno , name = movies[0].find('h3',class_="ipc-title__text").text.split('.')

In [201]:
#year,duration,rating scraped
year,duration,category = [ i.text for i in movies[0].find("div",class_="cli-title-metadata").find_all('span')]

In [206]:
#Scraped imdb data
imdb_rating = movies[0].find('span',class_="ipc-rating-star").text[0:3]

In [208]:
#bringing it all together
data = {"SNo":[],"Name":[],"year_of_release":[],"duration":[],"category":[],"imdb_rating":[]}
for movie in range(len(movies)):
    sno , name = movies[movie].find('h3',class_="ipc-title__text").text.split('.')
    year,duration,category = [ j.text for j in movies[movie].find("div",class_="cli-title-metadata").find_all('span')]
    imdb_rating = movies[movie].find('span',class_="ipc-rating-star").text[0:3]
    data['SNo'].append(sno)
    data['Name'].append(name)
    data['year_of_release'].append(year)
    data['duration'].append(duration)
    data['category'].append(category)
    data['imdb_rating'].append(imdb_rating)

In [212]:
#convert dictionary to dataframe 
df = pd.DataFrame(data)
df.head()

  SNo                       Name year_of_release duration category imdb_rating
0   1   The Shawshank Redemption            1994   2h 22m        A         9.3
1   2              The Godfather            1972   2h 55m        A         9.2
2   3            The Dark Knight            2008   2h 32m       UA         9.0
3   4     The Godfather: Part II            1974   3h 22m        A         9.0
4   5               12 Angry Men            1957   1h 36m        U         9.0

In [213]:
df.to_csv("/workspaces/Web_scraping_proj/data/movie_data.csv")